@import "metadata-theme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in metadata-theme.scss

//grid must not have alternating row-colors
$v-grid-row-background-color: white;
$v-grid-row-stripe-background-color: white;
$v-grid-border-color-source:black;

.metadata-theme {
  @include addons;
  @include metadata-theme;

  .v-caption-actions-label-top{
    font-weight: bold;
    font-size: 24px;
  }

  .v-caption-actions-label-bottom{
    font-style: italic;
  }

  .label-layout {
    display: flex;
    flex-direction: column;
    color: red;
  }

  .v-grid-row.yellow-row > td {
    background-color:yellow;
  }

  .v-grid-row.gray-row > td {
    background-color:lightgrey;
  }
}
